.header_box{
    max-width: 1024px;
}
body{height: 100%;min-height: 100vh;}
.table{
    max-width: 1024px;
    margin: 0px auto;
    text-align: center;
    margin-top: 10vh;
    padding: 2vw;

}
.table_box{
    width: 200px;
    background: #fffffb;
    border-radius: 10px;
    box-shadow:3px 0px 10px rgb(230, 230, 224);
    padding: 10px;
    display:inline-block;
    vertical-align: top;
    border-top: 15px #ec73a2 solid;
    margin: 10px;
}
.tb01{
    height: 20px;
    padding-bottom: 5px;
    border-bottom: 2px #ec73a2 solid;
    font-weight: bold;
    color: #1C1C1C;
}
.table_txt{
    padding: 10px;
}
.go_btn{
    width: 90%;
    height: 35px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #ec73a2;
    border:1px #ec73a2 solid;
    cursor: pointer; 
    font-weight: bold;
}
.go_btn:active{
    background-color: black;
    color: #ffffff;
    border:1px #ffffff;
}

.outtable{
    width: 100%;
    height: 100px;
    overflow:hidden;
    position:relative;
}
.intable{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:-17px;
    overflow-y: scroll;
    text-align: center;
}
.tableorder{
    width: 100%;
    text-align: center;
    color: #FFFFFB;
    font-weight: bold;
    line-height: 25PX;
    background: #91989F;
    margin-top: 5px;
    margin-bottom: 5px;
}